body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

* {
  box-sizing: border-box;
}

#newsWrapper {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  max-width: 1200px;
  height: 800px;
  margin: 0 auto;
}

#headerNewsWrapper {
  display: flex;
  flex-direction: column;
}

#headerNews {
  display: flex;
  height: 520px;
}

#headerNews {
  display: flex;
  height: 280px;
}