.newsCard {
    width: 650px;
    display: flex;
    flex-direction: row;
}

.bigNew {
    width: 440px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bigImg {
    object-fit: contain;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bigTextDiv {
    height: 100%;
    width: 100%;
    line-break: anywhere;
}

.bigText {
    padding: 5px;
    font-size: 16px;
    color: black;
}

.miniNewContainer {
    width: 210px;
    height: 340px;
    display: flex;
    flex-direction: column;
}

.miniNew,
.miniNew2 {
    width: 210px;
    height: 170px;
    display: flex;
    flex-direction: column;
}

.miniImg,
.miniImg2 {
    object-fit: contain;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.miniImgDiv,
.miniImgDiv2 {
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.miniText,
.miniText2 {
    padding: 5px;
    font-size: 14px;
    color: black;
}