#navbar {
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ec0000;
}

#navbarBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    max-width: 400px;
}

.navbarSection {
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding: 25px;
}

.navbarSection:hover {
    background-color: #cc0101;
}