.mini-card {
  width: 160px;
  min-height: 163px;
  max-height: 163px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
  cursor: pointer;
  margin-left: 15px;
}

.mini-card:not(:first-child) {
  margin-top: 15px;
}

.mini-card img {
  height: 100px;
  width: 160px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.mini-card-content {
  padding: 6px;
  box-sizing: border-box;
}

.mini-card-content h4 {
  margin: 0;
  font-size: 11px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini-card-content p {
  margin: 5px 0 0;
  font-size: 9px;
  min-height: 30px;
  max-height: 30px;
  color: #666;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
